.footer__column-link {
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  transition: ease-in-out .3s;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}

.footer__column-link:hover {
  opacity: .6;
  transition: ease-in-out .3s;
}
